
@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h1>Admin Panel</h1>
    <p class="lead">
        A single place to manage the whole web application (Except the Source Code :D)
    </p>
</div>

